*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #ffffff;
    --color-secondary: #f0f0f0;
    --color-text: #000000;
    --color-para: #007bff;
    --color-btn: #090808;
    transition: color 3s ease, background-color 3s ease;
  }
  
  [theme='dark'] {
    --color-primary: #47638a;
    --color-secondary: #374151;
    --color-text: #f9fafb;
    --color-para: #3b82f6;
    --color-btn: #050911;
  }
  
  [theme='green'] {
    --color-primary: #3fa88a;
    --color-secondary: #176b4f;
    --color-text: #d1fae5;
    --color-para: #26d113;
    --color-btn: #07513d;
  }
  [theme='blue'] {
    --color-primary: #021b30;
    --color-secondary: #098992;
    --color-text: #FBFBEF;
    --color-para: #DBFCD1;
    --color-btn: #579C8A;
  }
  [theme='yellow'] {
    --color-primary: #A04E10;
    --color-secondary: #EA6D2C;
    --color-text: #FFDD00;
    --color-para: #F5D042;
    --color-btn: #FFD366;
  }

  
  /* [data-theme = "dark-1"]{
    --color-bg-primary : #121212;
    --color-bg-secondary : #282828;
    --color-bg-tertiary : #282828;
    --color-text-primary : #ddd5d5;
    --color-text-secondary : #717171;
    --color-text-tertiary : #070707;
    --color-btn-primary : #a688fa;
    /* --color-btn-secondary : #070707;
    --color-btn-tertiary: #070707; */
  /* } */ 
/* //   [data-theme = "dark"]{
  //     --color-bg-primary : #1a1625;
  //     --color-bg-secondary : #2f2b3a;
  //     --color-bg-tertiary : #46424f;
  //     --color-text-primary : #ddd5d5;
  //     --color-text-secondary : #717171;
  //     --color-text-tertiary : #070707;
  //     --color-btn-primary : #a688fa;
  //     /* --color-btn-secondary : #070707;
  //     --color-btn-tertiary: #070707; */
  /* //   }
  //   [data-theme = "blue"]{
  //     --color-bg-primary : #001B32;
  //     --color-bg-secondary : #092B50;
  //     --color-bg-tertiary : #282828;
  //     --color-text-primary : #FBFBEF;
  //     --color-text-secondary : #DBFCD1;
  //     --color-text-tertiary : #070707;
  //     --color-btn-primary : #579C8A;
  //     /* --color-btn-secondary : #070707;
  //     --color-btn-tertiary: #070707; */
  /* //   } */ */ */


  body {
    transition: color 3s ease, background-color 3s ease;
  }
  
  /* You may want to add transitions to other elements as well */
  .header, .footer, .main-content {
    transition: color 0.3s ease, background-color 0.3s ease;
  }